{% extends 'person/base.html' %}

{% block content %}
<h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} Person</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Save</button>
</form>
<script>
    const estateSelect = document.getElementById('id_estate');
    const municipalitySelect = document.getElementById('id_municipality');
    const parishSelect = document.getElementById('id_parish');

    estateSelect.addEventListener('change', (e) => {
        const estateId = e.target.value;

        fetch(`/ajax/load-municipalities/?estate_id=${estateId}`)
            .then(response => response.json())
            .then(data => {
                municipalitySelect.options.length = 0;
                municipalitySelect.innerHTML = '<option value=""> * Seleccione un municipio * </option>';
                data.forEach(item => {
                    const option = new Option(item.name, item.code);
                    municipalitySelect.add(option);
                });
            });
    });

    municipalitySelect.addEventListener('change', (e) => {
        const municipalityId = e.target.value;

        fetch(`/ajax/load-parishes/?municipality_id=${municipalityId}`)
            .then(response => response.json())
            .then(data => {
                parishSelect.options.length = 0;
                parishSelect.innerHTML = '<option value=""> * Seleccione una parroquia * </option>';
                data.forEach(item => {
                    const option = new Option(item.name, item.code);
                    parishSelect.add(option);
                });
            });
    });
</script>
{% endblock %}